# Created by .ignore support plugin (hsz.mobi)
/*.js
/*.json
/*.sh
/*.phar
/*.sql
/.bowerrc
/docker-compose.override.yml

.idea/*
docs/*
node_modules/
composer.lock
web/log/*
web/temp/*
vendor/*
#web/www/media/*
#!web/www/media/_storage_no_image/
!web/www/media/_storage_no_image/8f/no-images-placeholder.png
!/composer.json
!/start*.sh
!/stop*.sh
