# Created by .ignore support plugin (hsz.mobi)
/*.js
/*.json
/*.sh
/*.phar
/*.sql
/.bowerrc
/docker-compose.override.yml

.idea/*
docs/*
node_modules/
composer.lock
log/*
temp/*
vendor/*
www/media/*
!www/media/_storage_no_image/
!www/media/_storage_no_image/8f/no-images-placeholder.pngweb/
!/composer.json
!/start*.sh
!/stop*.sh
