# Created by .ignore support plugin (hsz.mobi)
/*.js
/*.json
/*.sh
/*.phar
/*.sql
/.bowerrc

.idea/*
docs/*
node_modules/
web/composer.lock
web/log/*
web/temp/*
web/www/media/*
#web/www/adminer/*
!web/www/media/_storage_no_image/
!web/www/media/_storage_no_image/8f/no-images-placeholder.png
