{block title}{_apiPage.title}{/block}
{block content}

<div class="row bg-title">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<h1 class="page-title">Api přístupy</h1>
	</div>
</div>

<div class="grido">
	{control apiLogsGridControl}
</div>

<div class="grido">
	{*{control logsGridControl}*}
</div>
