#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	lang: cs # cs|sk|en
	database:
		host: localhost
		dbname:
		user:
		password:

translation:
	debugger: on
	default: %lang%
	whitelist: [cs, sk, en]
	fallback: [cs_CZ, cs]

php:
	date.timezone: Europe/Prague

http:
	frames: yes
#	headers: X-Powered-By: Devrun

application:
	errorPresenter: Cms:Error

cms:
	newPassword: 123123

monolog:
#    handlers: []
#    processors: []
	processors:
		web: Monolog\Processor\WebProcessor(NULL, [
				ip: REMOTE_ADDR,
				userAgent: HTTP_USER_AGENT,
			])

	handlers:
#		- Monolog\Handler\SyslogUdpHandler(logs6.papertrailapp.com, 39215)
#		applog: Monolog\Handler\StreamHandler(%appDir%/../logs/symfony.log, Monolog\Logger::DEBUG)
		db: CmsModule\Tools\Monolog\Handler\DbHandler(@Kdyby\Doctrine\EntityManager, @CmsModule\Security\LoggedUser, Monolog\Logger::INFO)
#		netteFallback: Kdyby\Monolog\Handler\FallbackNetteHandler(monolog.logger.name, %appDir%/../logs)

	name: Karl
	hookToTracy: on
#    tracyBaseUrl: NULL
	usePriorityProcessor: on
	registerFallback: on

services:
	translation.helpers:
		factory: Kdyby\Translation\TemplateHelpers(@Kdyby\Translation\Translator::domain(messages))

	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	lessFilter: WebLoader\Filter\LessFilter
	jwlCssMinFilter: Joseki\Webloader\CssMinFilter

events:
	globalDispatchFirst: true

webloader:
	debugger: on
	css:
		cmsScreen:
			joinFiles: true
			sourceDir: '%wwwDir%'
			remoteFiles:
				- https://cdn.rawgit.com/hyspace/typeahead.js-bootstrap3.less/v0.2.3/typeahead.css

			filters:
#				- @jwlCssMinFilter

			files:
				- bootstrap/dist/css/bootstrap.min.css
				- css/style.css
				- css/cms.css

		frontScreen:
			joinFiles: true
			sourceDir: '%wwwDir%'
#			remoteFiles:
#				- https://cdn.rawgit.com/hyspace/typeahead.js-bootstrap3.less/v0.2.3/typeahead.css

			filters:
#				- @jwlCssMinFilter

			files:
				- bootstrap/dist/css/bootstrap.min.css
				- css/front.css


migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: doctrine              # nextras, nette, doctrine or dibi


#gedmo:
#	sortable: on

doctrine:
	driver: 'pdo_mysql'
	charset: UTF8
	server_version: '10.3.17'  # mariadb-10.3.17
	host: %database.host%
	user: %database.user%
	password: %database.password%
	dbname: %database.dbname%

	dql:
		string:
			match: DoctrineExtensions\Query\Mysql\MatchAgainst
			md5: DoctrineExtensions\Query\Mysql\Md5
			sha1: DoctrineExtensions\Query\Mysql\Sha1
			sha2: DoctrineExtensions\Query\Mysql\Sha2

		datetime:
			date: DoctrineExtensions\Query\Mysql\Date
			datediff: DoctrineExtensions\Query\Mysql\DateDiff
			now: DoctrineExtensions\Query\Mysql\Now

		numeric:

imageStorage:
	data_path          : %wwwDir%/media # Filesystem location
	data_dir           : media                    # Relative path
	algorithm_file     : sha1_file               # Algorithm to take image prefix directory from
	algorithm_content  : sha1                    # ...
	quality            : 85                      # Default wuality when cropping
	default_transform  : fit                     # Default crop transformation
	noimage_identifier : _storage_no_image/8f/no-images-placeholder.png # No-image image
	friendly_url       : FALSE                   # Create friendly URLs?

extensions:
	debugger.session: Kdyby\SessionPanel\DI\SessionPanelExtension
	events: Kdyby\Events\DI\EventsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	modules: Flame\Modules\DI\ModulesExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

#	translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension
#	ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension
#	gedmo: Rixxi\Gedmo\DI\OrmExtension
	imageStorage: Ublaboo\ImageStorage\DI\ImageStorageExtension

	devrun: Devrun\Doctrine\DI\FormsExtension
	cms: CmsModule\DI\CmsExtension
	front: FrontModule\DI\FrontExtension
	webloader: WebLoader\Nette\Extension
