{*{extends $original_template}*}

{block detail}

<p>Lorem ipsum ...</p>


	{dump $this->global}


	{formContainer items_detail_form-$item->id}
		{input id, value => $item->id}
		{input name, value => $item->name}
		{input save}
	{/formContainer}



{/block}


	{*<h2>{$item->projectName}</h2>*}

	<p>Lorem ipsum ...</p>
