parameters:
	database:
		host: database
		user: cms2pixatori
		password: "aI#UzlQ49Jw91B"
		dbname: cms2pixatori

session:
	expiration: 14 days

tracy:
	email: pavel.paulik@seznam.cz
	fromEmail: robot@cms.pixatori.com

mail:
	smtp: false
	host: local.cz
	username: info@local.cz
	password: "b4RO2OT!}e"

doctrine:
	autoGenerateProxyClasses: %debugMode%
	proxyDir: "%tempDir%/proxies"
	proxyNamespace: "proxy"
	cacheClass: DoctrineModule\Cache
	secondLevelCache:
		 enabled: true
