<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon.png">

    <title>{ifset title}{include title|striptags} | {/ifset}{_title}</title>
	{*================== BEGIN BASE CSS ==================*}
    <link href="{$basePath}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/assets/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">
    <link href="{$basePath}/css/colors/blue.css" id="theme" rel="stylesheet">
	{*================== END BASE CSS ==================*}

    {*================== BEGIN BASE JS ==================*}
    <script type="application/javascript" src="{$basePath}/assets/jquery/dist/jquery.js"></script>
    {*================== END BASE JS ==================*}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<section id="wrapper" class="login-register">
		{snippet flash}{control flashMessageControl:toast}{/snippet}
		{include content}
	</section>
	{*================== BEGIN BASE JS ==================*}
	<script type="application/javascript" src="{$basePath}/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/metisMenu/dist/metisMenu.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/switchery/dist/switchery.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/nette.ajax.js/nette.ajax.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/nette-live-form-validation/live-form-validation.js"></script>
	<script type="application/javascript" src="{$basePath}/assets/toast-master/js/jquery.toast.js"></script>
	<script type="application/javascript" src="{$basePath}/js/waves.js"></script>
	<script type="application/javascript" src="{$basePath}/js/custom.min.js"></script>
	{*================== END BASE JS ==================*}
</body>
</html>
